<!DOCTYPE html>
<html>
<head>
　<meta charset=”UTF-8″>
　<meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
<title>タイトル</title>
</head>
<body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 0px;" data-is-initial-val-of-template-theme="0">
        <div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-23">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="20px" class="pera1-editable">◇利用者情報の取得<br>本アプリが利用者の個人情報を取得することはありません。<br></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="20px" class="pera1-editable"><p>◇利用者情報の利用<br>本アプリが利用者の個人情報を利用することはありあせん。</p></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-28">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="20px" class="pera1-editable"><p>◇利用者情報の第三者提供<br>本アプリが利用者の個人情報を第三者へ提供することはありません。<br></p></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-24">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="20px" class="pera1-editable"><p>◇使用ツール<br>本アプリでは広告配信ツールAdmob(google inc.)を使用しております。<br>Admobが利用者情報を取得する場合があります。取得する情報、利用目的、第三者への提供等については、広告配信事業者のプライバシーポリシーをご確認ください。<br></p></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-solid" data-block-name="区切り線(実線1px)" id="section-27">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
      <hr class="c-hr-solid" data-structure="e-hr-solid">
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-6">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="16px" class="pera1-editable">◇ご不明な点等ございましたらこちらまでお問い合わせください。<br>nnch2241@gmail.com</div>
              </div>
              
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence-caution" data-block-name="注意書き" id="section-29">
  <div class="p-sentence-caution c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="p-sentence-caution__inner c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="p-sentence-caution__content-wrapper">
          
          
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-sentence-scroll" data-block-name="テキストのみ（スクロール）" id="section-30">
  <div class="p-sentence-scroll c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="only-edit u-align-center u-mbmd"><i class="fa fa-info-circle"></i> 実際のスクロールの挙動は、プレビュー/公開ページでご確認ください</div>
    <div class="c-wrapper c-wrapper--sm">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="p-sentence-scroll__inner c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
          <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。テキストテキストテキストテキストテキストテキストテキストテキストテキスト...。</div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">nnch2241</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  













<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script></body>
</html>

